  <footer class="bb-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="bb-footer-brand">
                        <h4>Brooklyn Baithak</h4>
                        <p>Reimagining Tradition,<br>Redefining Connection.</p>
                    </div>
                    <span class="copyright">Copyright &copy; Brooklyn Baithak {{ 'now' | date: "%Y" }}</span>
                </div>
                <div class="col-md-4 text-center">
                    <ul class="list-inline social-buttons">
                        <li><a href="https://www.instagram.com/brooklynbaithak/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="https://www.facebook.com/brooklynbaithak/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://www.youtube.com/@brooklynbaithak" target="_blank"><i class="fa fa-youtube"></i></a></li>
                        <li><a href="mailto:brooklynbaithak@gmail.com"><i class="fa fa-envelope"></i></a></li>
                    </ul>
                    <p class="bb-footer-email"><a href="mailto:brooklynbaithak@gmail.com">brooklynbaithak@gmail.com</a></p>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#mission">Mission</a></li>
                        <li><a href="#events">Events</a></li>
                        <li><a href="#faq">FAQ</a></li>
                        <li><a href="https://www.eventbrite.com/o/brooklyn-baithak-77464698443" target="_blank">Eventbrite</a></li>
                    </ul>
                    <p class="bb-footer-tagline">✦ Baithak — the art of gathering</p>
                </div>
            </div>
        </div>
    </footer>
