<!-- Mission Section -->
<section id="mission" class="bb-mission">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <div class="bb-ornament">✦</div>
                <h2 class="section-heading">Our Mission</h2>
                <div class="bb-divider-gold"></div>
                <p class="bb-mission-text" data-cms-file="_data/mission.yml" data-cms-key="mission.body">
                    {{ site.data.mission.body }}
                </p>
                <p class="bb-mission-tagline" data-cms-file="_data/mission.yml" data-cms-key="mission.tagline">
                    {{ site.data.mission.tagline }}
                </p>
            </div>
        </div>
        <div class="row bb-mission-pillars">
            {% for pillar in site.data.mission.pillars %}
            <div class="col-md-4 text-center">
                <div class="bb-pillar-icon">{{ pillar.icon }}</div>
                <h4 class="bb-pillar-title" data-cms-file="_data/mission.yml" data-cms-key="mission.pillars[{{ forloop.index0 }}].title">{{ pillar.title }}</h4>
                <p class="text-muted" data-cms-file="_data/mission.yml" data-cms-key="mission.pillars[{{ forloop.index0 }}].text">{{ pillar.text }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
