<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="page-top" class="index" data-netlify-identity-url="https://zesty-biscotti-94698d.netlify.app">

    {% include header.html %}

    {{ content }}

    {% include mission.html %}
    {% include services.html %}
    {% include events.html %}
    {% include impact.html %}
    {% include press.html %}
    {% include faq.html %}
    {% include about.html %}
    {% include team.html %}
    {% include footer.html %}
    {% include js.html %}

    </body>
</html>